# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints/

# Environment Variables
.env

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Raw datasets
data/raw/*.csv